<div class="row page-titles">
  <div class="col-md-6 col-8 align-self-center">
    <h3 class="text-themecolor mb-0 mt-0">Transfer Shop to Shop</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
      <li class="breadcrumb-item active">ShopToShop</li>
    </ol>
  </div>
</div>

<!-- Row -->
<div class="row">
  <!-- Column -->
  <div class="col-12">
    <div class="card card-outline-info">
      <div class="card-header">
        <h4 class="mb-0 text-white"></h4>
      </div>
      <div class="card-body">
        <div>
          <div class="table-responsive m-t-40">
            <div id="myTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-md-12">
                  <h3>Transfer Shop to Shop</h3>
                  <hr />
                </div>
                <div class="col-md-6">
                  <!-- Begin Form Group -->
                  <div class="form-group row">
                    <label class="col-md-3 control-label">Transfer to</label>
                    <div class="col-md-9">
                      <ng-select
                        [items]="shopList"
                        placeholder="Select"
                        bindLabel="ShopName"
                        bindValue="ShopID"
                        [(ngModel)]="stocktype"
                      >
                      </ng-select>
                    </div>
                  </div>
                  <!-- End Form Group -->
                  <!-- Begin Form Group -->
                  <div class="form-group row">
                    <label class="col-md-3 control-label">Supplier</label>
                    <div class="col-md-9">
                      <ng-select
                        [items]="supplierList"
                        placeholder="Select"
                        bindLabel="Supname"
                        bindValue="SupID"
                        [(ngModel)]="buyDetails.SupID"
                      >
                      </ng-select>
                    </div>
                  </div>
                  <!-- End Form Group -->
                  <!-- Begin Form Group -->
                  <div class="form-group row">
                    <label class="col-md-3 control-label">Description</label>
                    <div class="col-md-9">
                      <div class="input-group">
                        <input disabled type="text" class="form-control" [(ngModel)]="buyDetails.ProductDescription" />
                      </div>
                    </div>
                  </div>
                  <!-- End Form Group -->
                </div>
                <div class="col-md-6">
                  <!-- Begin Form Group -->
                  <div class="form-group row">
                    <label class="col-md-3 control-label"> Barcode </label>
                    <div class="col-md-9">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="buyDetails.BarCode"
                          (keyup.enter)="TransferModal(buyDetails.BarCode)"
                          (dblclick)="TransferModal(buyDetails.BarCode)"
                        />
                      </div>
                    </div>
                  </div>

                  <!-- End Form Group -->
                  <!-- Begin Form Group -->
                  <div class="form-group row">
                    <label class="col-md-3 control-label"> Sell Price </label>
                    <div class="col-md-3">
                      <div class="input-group">
                        <input disabled type="text" class="form-control" [(ngModel)]="buyDetails.RPU" />
                      </div>
                    </div>
                    <label class="col-md-3 control-label"> Stock </label>
                    <div class="col-md-3">
                      <div class="input-group">
                        <input disabled type="text" class="form-control" [(ngModel)]="buyDetails.balQty" />
                      </div>
                    </div>
                  </div>

                  <!-- End Form Group -->
                  <!-- Begin Form Group -->
                  <div class="form-group row">
                    <label class="col-md-3 control-label"> Box </label>
                    <div class="col-md-3">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          (change)="calculateBox(buyDetails.reqbox)"
                          [(ngModel)]="buyDetails.reqbox"
                        />
                      </div>
                      {{ buyDetails.UOMName }}
                    </div>
                    <label class="col-md-3 control-label"> QTY </label>
                    <div class="col-md-3">
                      <div class="input-group">
                        <input disabled type="text" class="form-control" [(ngModel)]="buyDetails.reqqty" />
                      </div>
                      {{ buyDetails.BoxUOMName }}
                    </div>
                  </div>
                  <!-- End Form Group -->
                </div>
                <div class="col-md-6">
                  <button class="btn btn-md float-right hidden-md-down btn-success" (click)="AddButonClick()">
                    <i class="mdi mdi-plus"></i> Add
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table
                    datatable
                    [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger"
                    id="myTable"
                    class="table table-bordered table-striped dataTable no-footer"
                    role="grid"
                    aria-describedby="myTable_info"
                  >
                    <thead>
                      <tr>
                        <th>BarCode</th>
                        <th>Description</th>
                        <th>Sell Price</th>
                        <th>Quantity</th>
                        <th>UOM</th>
                        <th>Quantity</th>
                        <th>UOM</th>
                        <th>Gift Product</th>
                        <th>Oeration</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let d of TempStockTransferList">
                        <td>{{ d.Barcode }}</td>
                        <td>{{ d.ProdcutDescription }}</td>
                        <td>{{ d.RPU }}</td>
                        <td>{{ d.BoxQty }}</td>
                        <td>{{ d.UnitUOM }}</td>
                        <td>{{ d.TQty }}</td>
                        <td>{{ d.BoxUOM }}</td>
                        <td>{{ d.IsGiftItemAvailable }}</td>
                        <td>
                          <button class="btn btn-pill btn-danger" type="button" (click)="deleteButtonClick(d)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="TempStockTransferList?.length === 0">
                      <tr>
                        <td colspan="12" class="no-data-available">No data!</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="row">
                      <label class="col-md-3 control-label"> </label>
                      <label class="col-md-3 control-label">
                        Total Product :&ensp;&ensp;&ensp;<strong> &ensp; {{ count }}</strong>
                      </label>
                      <label class="col-md-3 control-label">
                        Total Quantity :&ensp;&ensp;&ensp;<strong> &ensp; {{ TotalQTY }} </strong>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Begin Button -->

        <div class="form-actions">
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="offset-sm-6 col-md-6">
                  <button type="submit" class="btn btn-success" (click)="saveButtonClick()">
                    <i class="fa fa-check"></i>
                    Save
                  </button>
                  <button type="button" class="btn btn-inverse">
                    <i class="fas fa-undo"> </i>
                    Cancel
                  </button>
                </div>
              </div>
              <br />
            </div>
          </div>
        </div>

        <!-- End Button -->
      </div>
      <!--   end card body -->
    </div>
  </div>
  <app-transfer-modal (SelectEvent)="receiveItemSelection($event)"></app-transfer-modal>
  <!-- Column -->
</div>
<!-- Row -->
