.custom-sels-btn .btn {
  float: left;
  width: 130px;
  height: 120px;
  border-radius: 5px;
  border: 1px dotted grey;
  margin-right: 15px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.modal-danger {
  width: 120%;
}
