<div class="row page-titles">
  <div class="col-md-6 col-8 align-self-center">
    <h3 class="text-themecolor mb-0 mt-0">Family Member Category</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
      <li class="breadcrumb-item active">Family Member Category</li>
    </ol>
  </div>

  <div class="col-md-6 col-4 align-self-center">
    <div *ngIf="isInsertMode === false; else insertMode">
      <button class="btn float-right hidden-sm-down btn-success" (click)="createButtonClick()">
        <i class="mdi mdi-plus-circle"></i> Create
      </button>
    </div>
    <ng-template #insertMode> </ng-template>
  </div>
</div>

<!-- Row -->
<div class="row">
  <!-- Column -->
  <div class="col-12">
    <div class="card card-outline-info">
      <div class="card-header">
        <h4 class="mb-0 text-white"></h4>
      </div>
      <div class="card-body">
        <div *ngIf="isInsertMode === false; else insertMode2">
          <div class="table-responsive m-t-40">
            <div id="myTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12">
                  <table
                    id="myTable"
                    class="table table-bordered table-striped dataTable no-footer"
                    role="grid"
                    aria-describedby="myTable_info"
                    datatable
                    [dtOptions]="dtOptions"
                  >
                    <thead>
                      <tr>
                        <th>Category NO</th>
                        <th>Category Name</th>
                        <th>Minimum</th>
                        <th>Minimum</th>
                        <th>Operation</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="dataList?.length !== 0">
                      <tr *ngFor="let d of dataList">
                        <td>{{ d.MemCatId }}</td>
                        <td>{{ d.MemCatName }}</td>
                        <td>{{ d.MinValue }}</td>
                        <td>{{ d.MaxValue }}</td>
                        <td>
                          <button class="btn btn-pill btn-warning" type="button" (click)="editbuttonClick(d.MemCatId)">
                            <i class="fa fa-edit"></i>&nbsp;Edit
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="dataList?.length === 0">
                      <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                      </tr>
                    </tbody>

                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #insertMode2>
          <br />
          <div class="col-md-7">
            <!-- Begin Form Group -->
            <div class="form-group row">
              <label class="col-sm-3 control-label">Category Name*</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="model.MemCatName"
                    placeholder="Enter Category Name"
                  />
                </div>
              </div>
            </div>
            <!-- End Form Group -->
            <!-- Begin Form Group -->
            <div class="form-group row">
              <label class="col-sm-3 control-label">Minimum</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="model.MinValue" placeholder="Enter Minimum" />
                </div>
              </div>
            </div>
            <!-- End Form Group -->
            <!-- Begin Form Group -->
            <div class="form-group row">
              <label class="col-sm-3 control-label">Maximum</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="model.MaxValue" placeholder="Enter Maximum" />
                </div>
              </div>
            </div>
            <!-- End Form Group -->

            <!-- Begin Button -->
            <hr />
            <div class="form-actions">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="offset-sm-3 col-md-9">
                      <button type="submit" class="btn btn-success" (click)="saveButtonClick()">
                        <i class="fa fa-check"></i>
                        {{ buttonText }}
                      </button>
                      <button type="submit" class="btn btn-danger" (click)="deleteButtonClick()">
                        <i class="fas fa-recycle"></i>
                        Delete
                      </button>
                      <button type="button" class="btn btn-inverse" (click)="backButtonClick()">
                        <i class="fas fa-undo"> </i>
                        Cancel
                      </button>
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>

            <!-- End Button -->
          </div>
        </ng-template>
      </div>
      <!--   end card body -->
    </div>
  </div>
  <!-- Column -->
</div>
<!-- Row -->
