<button class="btn btn-danger mb-1" id="btnLoadItemlist" style="visibility: collapse" (click)="open(contentItems)">
  Open Product
</button>

<ng-template #contentItems let-c="close" let-d="dismiss">
  <div class="modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Return Product</h4>
        <button class="close" type="button" data-dismiss="modal" (click)="close(contentItems)" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" style="overflow-x: scroll">
        <div class="table-responsive m-t-40">
          <div id="myTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="row" *ngIf="childitemflag">
              <div class="col-sm-12">
                <table
                  id="myTable"
                  class="table table-bordered table-striped dataTable no-footer"
                  role="grid"
                  aria-describedby="myTable_info"
                >
                  <thead>
                    <tr>
                      <th>Barcode</th>
                      <th>Item Name &emsp;&emsp;&emsp;&emsp;</th>
                      <th>RPU</th>
                      <th>Sales Bal QTY</th>
                      <th>Operation</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="parentDataList?.length !== 0">
                    <tr *ngFor="let d of parentDataList">
                      <td>{{ d.BarCode }}</td>
                      <td>{{ d.ProductDescription }}</td>
                      <td>{{ d.RPU }}</td>
                      <td>{{ d.SaleBalQty }}</td>
                      <td>
                        <button type="submit" class="btn btn-warning" (click)="GetNewBarcodeBySbarcode(d)">
                          <i class="fas fa-mouse-pointer"></i>
                          Select
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="parentDataList?.length === 0">
                    <tr>
                      <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                  </tbody>

                  <tbody></tbody>
                </table>
              </div>
            </div>
            <div class="row" *ngIf="!childitemflag">
              <div class="col-sm-12">
                <table
                  id="myTable"
                  class="table table-bordered table-striped dataTable no-footer"
                  role="grid"
                  aria-describedby="myTable_info"
                >
                  <thead>
                    <tr>
                      <th>Barcode</th>
                      <th>Bal QTY</th>
                      <th>Expaire</th>
                      <th>Operation</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="childDataList?.length !== 0">
                    <tr *ngFor="let m of childDataList">
                      <td>{{ m.BarCode }}</td>
                      <td>{{ m.balQty }}</td>
                      <td>{{ m.EXPDT | date: 'dd-MM-yy' }}</td>
                      <td>
                        <button type="submit" class="btn btn-success" (click)="GetByBarcodeExp(m)">
                          <i class="fas fa-plus"></i>
                          Add
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="childDataList?.length === 0">
                    <tr>
                      <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                  </tbody>

                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Begin Button -->

      <div class="form-actions" *ngIf="childitemflag">
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <div class="offset-sm-6 col-md-6">
                <button type="button" class="btn btn-inverse" (click)="close(contentItems)">
                  <i class="fas fa-times"> </i>
                  Close
                </button>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
      <div class="form-actions" *ngIf="!childitemflag">
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <div class="offset-sm-6 col-md-6">
                <button type="button" class="btn btn-inverse" (click)="backModalClick()">
                  <i class="fas fa-undo"> </i>
                  Back
                </button>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>

      <!-- End Button -->
    </div>
  </div>
</ng-template>
